<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->

<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>New person</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->

<!--&lt;!&ndash;<form th:method="POST" th:action="@{/users}" th:object="${user}">&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="name">Enter name:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" th:field="*{name}" id="name"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="age">Enter age:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" th:field="*{age}" id="age"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="submit" value="Create!">&ndash;&gt;-->

<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->








<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>New person</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:method="post" th:action="@{/new}" th:object="${user}">-->
<!--    <label for="name">Enter name:</label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <label for="age">Enter age:</label>-->
<!--    <input type="text" th:field="*{age}" id="age"/>-->
<!--    <br>-->
<!--    <input type="submit" value="Create!">-->
<!--</form>-->


<!--</body>-->
<!--</html>-->




<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="post" th:action="@{/new}">
    <label for="name">Enter name:</label>
    <input type="text" name="name" id="name"/>
    <label for="age">Enter age:</label>
    <input type="text" name="age" id="age"/>
    <br>
    <input type="submit" value="Create!">
</form>
</body>
</html>

