
<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<h1>User list</h1>
<form th:action="@{/new}" method="get">
    <button type="submit">Create user</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td><a th:href="@{/{id}(id=${user.id})}" th:text="${user.id}">Id</a></td>
        <td><a th:href="@{/{id}(id=${user.id})}" th:text="${user.name}">Name></a></td>
        <td><a th:href="@{/{id}(id=${user.id})}" th:text="${user.age}">Age</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
